doctype html
html
  head
    title= title
    link(link href="https://fonts.googleapis.com/css?family=Fira+Sans", rel="stylesheet")
    link(rel='stylesheet', href='/assets/css/main.min.css')
    link(rel='stylesheet', href='/assets/css/nav.min.css')
    link(rel='stylesheet', href='/assets/css/home.min.css')
    script(src="https://code.jquery.com/jquery-3.2.1.min.js",
           integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=",
           crossorigin="anonymous")
    script(src="/assets/js/socket.io.min.js") //- /assets/js/socket.io.min.js | https://cdn.socket.io/socket.io-1.4.5.js | https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js
    script(src="/assets/js/main.min.js")
  body
    
    .overlay
      .msgBox.rel
        .closeBtn
        h1.title Title here
        hr
        p.msg msg goes here
    
    nav
      a(href="/")
        img(src="assets/imgs/logo.png", 
            alt="The is a simple computer made image of a pomegranate").logo
        h3 #{title}
        
    block content
